@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
    --purple: #7E1E80;
}

* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 16px;
}

/* -------------------------------- BACKGROUND AND LOGO */
html {
    background: var(--purple);
}

body {
    min-height: 100vh;
    background-image: url("background.svg");
    background-size: 100%;

}

a, p, button {
    padding: 1vw;
}

h1 {
    font-family: 'Zeyada', cursive;
    font-size: 60px;
    min-width: fit-content;
}

header, nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw;
    align-items: center;
    flex-wrap: wrap;
}

nav li {
    list-style: none;
}
nav a {
    font-size: 30px;
    text-decoration: none;
    /*color: var(--purple);*/
}
a:hover {
    color: white;
}
section {
    display: flex;
}
#toolbar-top {
    align-items: start;
}
#toolbar-top > * {
    padding: 1.5vw;
}
#toolbar-top, #main-section {
    background-color: #ffffff30;
    padding: 5px;
}
#toolbar-left {
    flex-direction: column;
    width: 40px;
    justify-self: left;
    cursor: pointer;
}
#toolbar-left img {
    width: 30px;
    height: auto;
}

input {
    width: 50px;
    padding: 0;
    background-color: #ffffff30;
    border: none;
}
input[type=color] {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

button {
    background-color: #ffffff30;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #ffffff50;
}
#sketch-holder {
    position: relative;
    padding: 0;
}
canvas {
    background-color: white;
}

#img-upload {
    display: none;
}

.none {
    display: none;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: #7E1E80a0;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    display:inline;
}

#sketch-holder {
    cursor: crosshair;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content input {
    display: none;
}

/* The Close Button */
#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover, #closeModal:focus, .modal-content label {
    color: black;
    text-decoration: none;
    cursor: pointer;
}