@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* -------------------------------------------- BASIC CSS */
:root {
    --purple: #7E1E80;
}

* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 16px;
    overflow-x: hidden;
}

/* -------------------------------- BACKGROUND */
html {
    background: var(--purple);
}

body {
    min-height: 100vh;
    background-image: url("background.svg");
    background-size: 100%;

}

/* -------------------------------------------- HEADING & HEADER */
h1 {
    font-family: 'Zeyada', cursive;
    font-size: 60px;
    min-width: fit-content;
}

header {
    display: flex;
    padding: 0.5vw;
    align-items: center;
    flex-wrap: wrap;
}

/* -------------------------------------------- SECTIONS */
section {
    display: flex;
    flex-wrap: wrap;
}

/* -------------------------------------------- TOOLBAR TOP */
#toolbar-top {
    align-items: center;
    justify-content: center;
}
#toolbar-top > * {
    padding: 1.5vw;
}
#toolbar-top, main, #buttons {
    background-color: #ffffff30;
    padding: 5px;
}
.none {
    display: none;
}
#buttons div > * {
    padding: 10px;
}
#buttons {
    overflow: visible;
    align-items: center;
    justify-content: end;
}

/* -------------------------------------------- UNDO, REDO */
#undo-btn, #redo-btn {
    color: #00000050;
}

/* -------------------------------------------- TOOLBAR TOP ELEMENTS */
label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: center;
}

/* Opacity range slide */
#opacity {
    width: 75px;
    height: 15px;
    -webkit-appearance: none;
    background: #ffffff30;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px #ffffff30;
}
#opacity::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    border: 2px solid var(--purple);
    box-shadow: -407px 0 0 400px var(--purple);

}
#opacity-value-number {
    width: 30px;
    text-align: center;
}
#opacity-value-number {
    outline: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Number input */
input[type=number] {
    min-width: 30px;
    max-width: fit-content;
    padding: 0;
    /* Firefox */
    -moz-appearance: textfield;
}
input[type=number]:focus {
    outline: var(--purple) solid 2px;
}
.numberSpan {
    margin: 0;
    background-color: #ffffff30;
}
.numberSpan button {
    background-color: transparent;
    padding: 5px;
}
.numberSpan:has(#canvas-width), .numberSpan:has(#canvas-height) {
    padding: 5px;
}

/* Color input */
input[type=color] {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}
button {
    background-color: #ffffff30;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #ffffff50;
}

/* -------------------------------------------- MAIN SECTION */
main {
    display: flex;

    justify-content: center;
    width: 100%;
    padding: 0;
}

/* -------------------------------------------- TOOLBAR LEFT */
#toolbar-left {
    flex-direction: column;
    width: 50px;
    cursor: pointer;
    overflow: visible;
}
#toolbar-left img {
    width: 35px;
    height: auto;
}

/* -------------------------------------------- TOOLTIPS TO TOOLBAR TOP */
.tooltip-down {
    position: relative;
    overflow: visible;
}
.tooltiptext-down {
    display: none;
    width: 50px;
    background-color: rgba(126, 30, 128, 0.42);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    margin-top: 5px;
}
.tooltip-down:hover .tooltiptext-down {
    display: block;
}

/* -------------------------------------------- TOOLTIPS TO TOOLBAR LEFT */
#toolbar-left .tooltip {
    position: relative;
    overflow: visible;
}
.tooltiptext {
    display: none;
    width: 120px;
    background-color: #7E1E80a0;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    margin-left: 5px;
}
.tooltip:hover .tooltiptext {
    display: inline;
}

/* -------------------------------------------- CANVAS */
#sketch-holder {
    padding: 0;
    cursor: crosshair;
}
canvas {
    background-color: white;
}

/* -------------------------------------------- responsive design */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 40px;
    }
}
@media screen and (min-width: 1200px) {
    body {
        padding: 0 15%;
    }
    main {
        height: 60vh;
    }
}